@model List<HouseModelCategory>
@using HomeMaintance.Reposity
@using HomeMaintance.Models
@using HomeMaintance.Models.ViewModels
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IUnitOfWork unitOfWork = (IUnitOfWork)ViewData["DbContext"];
    //var systemconf = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault();
    FooterViewModel footerView = new FooterViewModel
    {
        SystemConfigs = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault(),
        Services = unitOfWork.Repository<Services>().GetAll().Take(6).ToList()
    };

    //FooterViewModel ft = ViewBag.Footer;
}

<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <h2>CÁC MẪU NHÀ ĐẸP</h2>
        <hr />
        @foreach (var item in Model)
        {<h4 class="text-center">@item.HouseModelCategoryName</h4>
        <hr />
        <div class="row">

            @{
                var lstHouseModel = unitOfWork.Repository<HouseModels>().GetAllInclude(c => c.HouseModelImages).Where(c => c.HouseModelCategoryId == item.Id).ToList();
            }
            @Html.Partial("_HouseModelPartial.cshtml", lstHouseModel)
        </div>
    }
    </div>
</section>

@Html.Partial("~/Views/Shared/_FooterPartial.cshtml", footerView)

