@model int
@{

}
<td style="width:150px">
    <div class="btn-group" role="group" style="height:44px; ">
        @*<a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+Model)" style="height:44px;"><i class="fas fa-edit"></i></a>*@
        <a type="button" class="btn btn-success" href="@Url.Action("Edit/"+Model)"><i class="fas fa-edit"></i></a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+Model)" onclick="$('.top-alert').notify('Delete success', {position: 'top center'});" ><i class="fas fa-trash-alt"></i></a>
    </div>
    
</td>
