@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sai định dạng dữ liệu.</h1>
<h2 class="text-danger">Sai định dạng email hoặc số điện thoại.</h2>

<p>
    <strong>địa chỉ email phải bắt đầu bằng 1 ký tự + địa chỉ email là tập hợp của các ký tự a-z, 0-9 và có thể có các ký tự như dấu chấm, dấu gạch dưới + độ dài tối thiểu của email là 5, độ dài tối đa là 32 + tên miền của email có thể là tên miền cấp 1 or tên miền cấp 2.</strong>
    <strong>Số điện thoại là số điện thoại của VietNam</strong>
</p>
