@model TypicalConstruction
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <div class="w3_mg">
            <h3>Sửa công trình tiêu biểu</h3>

        </div>
        <form method="post" asp-action="Edit" style="font-size: 1.2em" enctype="multipart/form-data">
            <div class="p-4 border rounded">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Name" class="table-danger"></span>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-2">
                        <label asp-for="CustomerName"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="CustomerName" class="form-control" />
                    </div>
                    <span asp-validation-for="CustomerName" class="table-danger"></span>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-2">
                        <label asp-for="Thumbnail"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Thumbnail" type="file" name="files" class="form-control" />
                    </div>
                    <span asp-validation-for="CustomerName" class="table-danger"></span>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-2">
                        <label asp-for="Address"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Address" class="form-control" />
                    </div>
                    <span asp-validation-for="Address" class="table-danger"></span>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-2">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Description" class="form-control" />
                    </div>
                    <span asp-validation-for="Description" class="table-danger"></span>
                </div>
                <div class="form-group offset-3">
                    <input type="submit" class="btn btn-primary" value="Edit" />
                    <a asp-action="Index" class="btn btn-success">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</section>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

