@model HomeMaintance.Models.ViewModels.ServiceDetailsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<br />
<br />

<h2 class="text-dark">Dịch vụ: @Model.Services.ServiceName</h2>
<hr />

@Model.Services.Description

<br />




