@using HomeMaintance.Models.ViewModels
@using HomeMaintance.Reposity
@using HomeMaintance.Models
@using HomeMaintance.Models.ViewModels
@{
    IUnitOfWork unitOfWork = (IUnitOfWork)ViewData["DbContext"];
    var systemconf = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault();
    FooterViewModel footerView = new FooterViewModel
    {
        SystemConfigs = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault(),
        Services = unitOfWork.Repository<Services>().GetAll().Take(6).ToList()
    };
}
@{
    ViewData["Title"] = "About";
}
<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
    <div class="about py-lg-5 py-md-4 py-md-3 py-2">
        <div class="container">
            <h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Giới thiệu</h3>
            <div class="row">
                <div class="col-md-6 com-sm-6 w3three_al1">
                    <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">MỘT SỐ DỊCH VỤ CỦA CHÚNG TÔI</h4>
                    <p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2"></p>
                    <a asp-action="Index" asp-controller="Home" asp-area="Customer">Xem thêm</a>
                </div>
                <div class="col-md-6 com-sm-6 w3three_al">
                    <img src="~/images/ab.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="w3_acd">
                <h4>TẠI SAO CHỌN CHÚNG TÔI ?</h4>
                <div class="w3-agileits-team-title">


                    <div id="horizontalTab">
                        @*<ul class=" resp-tabs-list">
                                <li>
                                    <h5>Thiết kế nội thất</h5>
                                </li>
                                <li>
                                    <h5>Thiết kế ngoại thất</h5>
                                </li>
                                <li>
                                    <h5>Gardening</h5>
                                </li>
                                <li>
                                    <h5>Tol/Mái nhà</h5>
                                </li>
                            </ul>*@
                        <div class=" resp-tabs-container">
                            <div class="tab1">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al2">
                                        <div class="test-wel">

                                            <p>
                                                Với tay nghề và kĩ năng cao chúng tôi sẽ đem đến cho bạn sự hài lòng tuyệt đối.
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-check"></i>Nội thất
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Ngoại thất
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Sân vườn
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Tol/Mái nhà
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Điện nước
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Trang trí
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al3">
                                        <img src="~/images/ab1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="tab2">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al4">
                                        <div class="test-wel">

                                            <p>
                                                Đội ngủ nhân lực hùng hậu
                                            </p>
                                            <ul>
                                                <li>
                                                    <i class="fas fa-check"></i>2 Kiến trúc sư
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>5 Thợ chính
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>10 Thợ phụ
                                                </li>
                                                <li>
                                                    <i class="fas fa-check"></i>Hơn 20 nhân công hỗ trợ xây dựng
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al5">
                                        <img src="~/images/xay-dung-doi-ngu.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="tab3">
                                <div class="row">
                                    <div class="col-md-6 com-sm-6 w3three_al6">
                                        <div class="test-wel">

                                            <p>
                                                Chúng tôi luôn đảm bảo an toàn và chất lượng khi thi công các công trình với các thiết bị hỗ trợ hiện đại
                                            </p>
                                            @*<ul>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                </ul>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6 com-sm-6 w3three_al7">
                                        <img src="~/images/construction_tools.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            @*<div class="tab4">
                                    <div class="row">
                                        <div class="col-md-6 com-sm-6 w3three_al8">
                                            <div class="test-wel">

                                                <p>
                                                    Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
                                                    reprehend.Unicmquam eius, Basmodi temurer sehsMunim.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-check"></i>Lorem Ipsum is simply dummy text
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 com-sm-6 w3three_al9">
                                            <img src="images/ab4.jpg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>*@
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("~/Views/Shared/_FooterPartial.cshtml", footerView);
