@using HomeMaintance.Reposity
@using HomeMaintance.Models
@using HomeMaintance.Models.ViewModels
@{ 
    IUnitOfWork unitOfWork = (IUnitOfWork)ViewData["DbContext"];
    var systemconf = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault();
    FooterViewModel footerView = new FooterViewModel
    {
        SystemConfigs = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault(),
        Services = unitOfWork.Repository<Services>().GetAll().Take(6).ToList()
    };
}
<div class="modal fade" id="FeedbackModal" tabindex="-1" role="dialog" aria-labelledby="FeedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DOANH NGHIỆP TƯ NHÂN NAM VIỆT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="contact" id="contact">
                    <div class="container">
                        <h3 class="title clr">THÔNG TIN PHẢN HỒI</h3>
                        <div class=" contact-form">
                            <form asp-area="Customer" asp-controller="Home" asp-action="Feedback" method="post">
                                <div class="row contact-bothside-agileinfo">
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                                        <input type="text" name="Name" placeholder="Name" required="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                                        <input type="email" name="Email" placeholder="Email" required="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-left form-right ">
                                        <input type="text" name="Phone" placeholder="Phone" required="">
                                    </div>
                                    <textarea name="Message" placeholder="Message" required=""></textarea>

                                    <input type="submit" id="submitContact" value="SUBMIT">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>